<img src="images/logo1.jpg" />

<MudNavLink Icon="@Icons.Material.Filled.Home" IconColor="@Color.Inherit" Href="/" Match="NavLinkMatch.All">Nosotros</MudNavLink>
<span class="oi oi-home" aria-hidden="true"></span>

<MudNavLink Icon="@Icons.Material.Filled.Storage" Href="/Categoria" IconColor="@Color.Inherit" Match="NavLinkMatch.All">Categorías</MudNavLink>
<span class="oi oi-home" aria-hidden="true"></span>

<MudNavLink Icon="@Icons.Material.Filled.PhoneAndroid" Href="/Producto" IconColor="@Color.Inherit" Match="NavLinkMatch.All">Productos</MudNavLink>
<span class="oi oi-home" aria-hidden="true"></span>

<MudNavLink Icon="@Icons.Material.Filled.FmdGood" IconColor="@Color.Inherit" Href="/Sucursales" Match="NavLinkMatch.All">Sucursales</MudNavLink>
<span class="oi oi-home" aria-hidden="true"></span>

